*{
    margin: 0;
    padding: 0;
    box-sizing: bor;
}    
body{
    margin: 0%;
    font-family:inter;
    background-color: #062B2F;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px;
    background-color: #062B2F;
    border-bottom: 1px solid rgba(255,255,255,0.1);

}
.nav-left{
    display: flex;
    gap: 30px;
}
.nav-left a{
    text-decoration: none;
    color:#EAD7B7;
    font-size: 14px;
    margin-right: 5px;
    transition: 0.3s;
    letter-spacing: 0.5px;
    font-weight:100;
}
.nav-left a:hover{
    color: #000000;
}

.nav-logo{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.nav-logo img{
    height: 251px;
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-right a{
    margin: 5px;
}
.shop{
    padding: 40px 50px;
    color: #ffffff;
}
.shop-header{
    text-align: center;
    margin-bottom: 20px;
}
.shop-header h3{
    font-family: playfair display;
    font-size: 40px;
    font-weight: bold;
    color: #EAD7B7;
}
.shop-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: regular;
}
.shop-left{
    display: flex;
    gap: 80px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EAD7B7;
}
.shop-left span{
    color: #EAD7B7;
    font-family: playfair display;
}
.shop-left a{
    text-decoration: none;
    color: #ffffff;
}
.shop-cointainer{
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 30px;
}
.filters{
    font-size: 13px;
}
.filter-group{
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #EAD7B7;
}
.filter-group h4{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #EAD7B7;
}
.filter-group label{
    display: block;
    margin-bottom: 20px;
    max-width: 185px;
    color: #EAD7B7;
}
.filter-group label span{
    color: #ffffff66;
}
.filter-group .material-icon{
    position: relative;
    top: 6px;
    padding-right: 5px;
}
.filter-item .left{
    color: #EAD7B7;
}
.filter-group input{
    margin-right: 8px;
    width: 16px;
    height: 16px;
    background-color: #062B2F;
    border-radius: 30%;
    border: #EAD7B7;
    position: relative;
    top: 3px;
    cursor: pointer;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}
.product-card{
    background: transparent;
}
.product-image{
    background: rgba(0, 0, 0, 0.1);
    padding: 1px;
    border-radius: 15px;
}
.wishlist{
    position: relative;
    bottom: 240px;
    left: 240px;
}
.product-info{
    max-width: 210px;
}
.product-info h3{
    color: #EAD7B7;
    padding-top: 8px;
}
.product-info p{
    font-size: 16px;
    font-weight: 400;
}
.product-info small{
    font-size: 12px;
    font-weight: 400;
    color: #ffffff66;
}
.btn{
    margin-top: 8px;
    padding: 14px 60px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(
     to right,
    #EAD7B7 0%,
    #A67C3B 0%,
    #C9A96E 100%
    );
    cursor: pointer;
}
.pagination{
    text-align: center;
    margin-top: 80px;
}
.pagination span{
    margin: 0 8px;
}
.footer{
    background-color: #0B3A3F;
    padding: 30px 80px 30px;
    color: #ffffff;
}
.footer-cointainer{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
    gap: 60px;
}
.footer-logo{
    height: 142px;
    width: 142px;
    margin-bottom: 15px;
    position: relative;
    bottom: 40px;
    right: 38px;
}
.footer-brand p{
    font-size: 11px;
    line-height: 1.6;
    position: relative;
    bottom: 80px;
    right: 20px;
}
.footer-col h3{
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: 400;
}
.footer-col ul{
    list-style: none;
    padding: 0;
}
.footer-col ul li{
    font-size: 11px;
    margin-bottom: 8px;
    cursor: pointer;
}
.footer-col ul li a{
    text-decoration: none;
    color: #ffffff;
}
.footer-col ul li a:hover{
    color: #000000;
}
.social-links{
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
}
.social-links img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.footer-bottom{
    border-top: 1px solid rgba(255,255,255,0.1);
    text-align: center;
    font-size: 14px;
    padding: 30px 0 0;
    font-weight: 200;
}